@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

html,
body {
  background: #FCFCFC;
  color: #171717;
  overscroll-behavior: none;
}

html {
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
}

